@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1620px;
    padding: 0 50px;
    margin: auto;
}

/* navbar styling*/
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    background: rgb(255, 255, 255);
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 20px 0;
    background: rgb(13, 13, 14);
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: green;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo a span
{
    color: greenyellow;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{
    color: green;
    font-size:  18px;
    font-weight: 500;
    margin-left: 55px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
  color: rgb(0, 0, 0);  
}

 /* menu styling */
 .menu-btn
 {
    color: greenyellow;
    font-size: 23px;
    cursor: pointer;
    display: none;
 }

/* home section styling */
.home{
    display: flex;
    background: url('/image/a1.avif')no-repeat right ;
    opacity: 1;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    min-height: 500px;
}


.home .max-width
{
    margin: auto 0 auto  40px;
}

.home .home-content .text-1
{
    font-size: 27px;
}

.home .home-content .text-2
{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3
{
    font-size: 40px;
    margin: 5px 0;
}

.home .home-content .text-3 span{
    color: forestgreen;
    font-weight: 500;
}


/* about section */
/* section{
    padding: ;
} */
.about{
    font-family: 'Poppins', sans-serif;
}

.about .title{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}

.about .about-content .left img
{
    height: 500px;
    width: 500px;
    object-fit: cover;
}


/* responsive media query start */
@media (max-width: 1104px)
{
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .max-width{
        padding: 0 50px;
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: white;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

   
    .navbar.menu li{
        display: inline-block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px;
        font-size: 25px;
    }
}